In [1]:
import pandas as pd
from bokeh.plotting import figure, output_file, show, output_notebook

In [2]:
#fonction pour creer le dashbord
def make_dashboard(x, gdp_change, unemployment, title, file_name):
    output_file(file_name)
    p = figure(title=title, x_axis_label='year', y_axis_label='%')
    p.line(x.squeeze(), gdp_change.squeeze(), color="firebrick", line_width=4, legend="% GDP change")
    p.line(x.squeeze(), unemployment.squeeze(), line_width=4, legend="% unemployed")
    show(p)

In [3]:
#importer les données sur internet (les données sont récupérées par IBM)
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}

In [6]:
#lire le fichier  GDP.csv (US  Gross Domestic Product )
path_gdp=links['GDP']
gdp=pd.read_csv(path_gdp) # read
#convertir en un DataFrame (un tableau pour facilliter l'accès au données)
print('le tableau de données GDP -US :')
gdp=pd.DataFrame(gdp)
gdp.head() # affiche que 5 lignes
print(gdp[0:40]) #on suffit d'afficher 40 valeur pour une bonne lisibilité

le tableau de données GDP -US :
    date  level-current  level-chained  change-current  change-chained
0   1948          274.8         2020.0            -0.7            -0.6
1   1949          272.8         2008.9            10.0             8.7
2   1950          300.2         2184.0            15.7             8.0
3   1951          347.3         2360.0             5.9             4.1
4   1952          367.7         2456.1             6.0             4.7
5   1953          389.7         2571.4             0.3            -0.6
6   1954          391.1         2556.9             8.9             7.1
7   1955          426.2         2739.0             5.6             2.1
8   1956          450.1         2797.4             5.5             2.1
9   1957          474.9         2856.3             1.5            -0.7
10  1958          482.0         2835.3             8.4             6.9
11  1959          522.5         3031.0             4.0             2.6
12  1960          543.3         3108.7             3.7             2.6
13  1961          563.3         3188.1             7.4             6.1
14  1962          605.1         3383.1             5.6             4.4
15  1963          638.6         3530.4             7.4             5.8
16  1964          685.8         3734.0             8.4             6.5
17  1965          743.7         3976.7             9.6             6.6
18  1966          815.0         4238.9             5.7             2.7
19  1967          861.7         4355.2             9.4             4.9
20  1968          942.5         4569.0             8.2             3.1
21  1969         1019.9         4712.5             5.5             0.2
22  1970         1075.9         4722.0             8.5             3.3
23  1971         1167.8         4877.6             9.8             5.3
24  1972         1282.4         5134.3            11.4             5.6
25  1973         1428.5         5424.1             8.4            -0.5
26  1974         1548.8         5396.0             9.0            -0.2
27  1975         1688.9         5385.4            11.2             5.4
28  1976         1877.6         5675.4            11.1             4.6
29  1977         2086.0         5937.0            13.0             5.5
30  1978         2356.6         6267.2            11.7             3.2
31  1979         2632.1         6466.2             8.8            -0.3
32  1980         2862.5         6450.4            12.2             2.5
33  1981         3211.0         6617.7             4.3            -1.8
34  1982         3345.0         6491.3             8.7             4.6
35  1983         3638.1         6792.0            11.1             7.2
36  1984         4040.7         7285.0             7.5             4.2
37  1985         4346.7         7593.8             5.5             3.5
38  1986         4590.2         7860.5             6.0             3.5
39  1987         4870.2         8132.6             7.9             4.2

In [7]:
#lire le fichier  unemployment.csv
path_unemployment=links['unemployment']
unemployment=pd.read_csv(path_unemployment)
#convertir le fichier csv en un tableau de données
print('le tableau qui montre le taux du chômage -US :')
unemployment=pd.DataFrame(unemployment)
unemployment.head() #head shwos only 5 rows
print(unemployment[0:40])

le tableau qui montre le taux du chômage -US :
    date  unemployment
0   1948      3.750000
1   1949      6.050000
2   1950      5.208333
3   1951      3.283333
4   1952      3.025000
5   1953      2.925000
6   1954      5.591667
7   1955      4.366667
8   1956      4.125000
9   1957      4.300000
10  1958      6.841667
11  1959      5.450000
12  1960      5.541667
13  1961      6.691667
14  1962      5.566667
15  1963      5.641667
16  1964      5.158333
17  1965      4.508333
18  1966      3.791667
19  1967      3.841667
20  1968      3.558333
21  1969      3.491667
22  1970      4.983333
23  1971      5.950000
24  1972      5.600000
25  1973      4.858333
26  1974      5.641667
27  1975      8.475000
28  1976      7.700000
29  1977      7.050000
30  1978      6.066667
31  1979      5.850000
32  1980      7.175000
33  1981      7.616667
34  1982      9.708333
35  1983      9.600000
36  1984      7.508333
37  1985      7.191667
38  1986      7.000000
39  1987      6.175000

In [8]:
#unemployment > 8,5 / affichier le taux de chômage le plus élevé
greater_unemployment=unemployment[unemployment['unemployment']>8.5]
print('le taux de chômage le plus élevé > 8.5% :\n',greater_unemployment)

le taux de chômage le plus élevé > 8.5% :
     date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333

In [9]:
#extraire le les données de la colonne 'change_current'
print('extraire les données de la colonne -change_current- :')
gdp_change =gdp.loc[:,'change-current'] # Create your dataframe with column change-current
gdp_change.head()
print(gdp_change[0:40])

extraire les données de la colonne -change_current- :
0     -0.7
1     10.0
2     15.7
3      5.9
4      6.0
5      0.3
6      8.9
7      5.6
8      5.5
9      1.5
10     8.4
11     4.0
12     3.7
13     7.4
14     5.6
15     7.4
16     8.4
17     9.6
18     5.7
19     9.4
20     8.2
21     5.5
22     8.5
23     9.8
24    11.4
25     8.4
26     9.0
27    11.2
28    11.1
29    13.0
30    11.7
31     8.8
32    12.2
33     4.3
34     8.7
35    11.1
36     7.5
37     5.5
38     6.0
39     7.9
Name: change-current, dtype: float64

In [10]:
#extraire le les données de la colonne 'unmeployment'
print('extraire les données de la colonne -unemployment- :')
unemployment =unemployment.loc[:,'unemployment']
unemployment.head()
print(unemployment[0:40])

extraire les données de la colonne -unemployment- :
0     3.750000
1     6.050000
2     5.208333
3     3.283333
4     3.025000
5     2.925000
6     5.591667
7     4.366667
8     4.125000
9     4.300000
10    6.841667
11    5.450000
12    5.541667
13    6.691667
14    5.566667
15    5.641667
16    5.158333
17    4.508333
18    3.791667
19    3.841667
20    3.558333
21    3.491667
22    4.983333
23    5.950000
24    5.600000
25    4.858333
26    5.641667
27    8.475000
28    7.700000
29    7.050000
30    6.066667
31    5.850000
32    7.175000
33    7.616667
34    9.708333
35    9.600000
36    7.508333
37    7.191667
38    7.000000
39    6.175000
Name: unemployment, dtype: float64

In [11]:
#extraire le les données de la colonne 'date'
print('extraire les données de la colonne -unemployment- :')
x =gdp.loc[:,'date']# Create your dataframe with column date
x.head()
print(x[0:40])

extraire les données de la colonne -unemployment- :
0     1948
1     1949
2     1950
3     1951
4     1952
5     1953
6     1954
7     1955
8     1956
9     1957
10    1958
11    1959
12    1960
13    1961
14    1962
15    1963
16    1964
17    1965
18    1966
19    1967
20    1968
21    1969
22    1970
23    1971
24    1972
25    1973
26    1974
27    1975
28    1976
29    1977
30    1978
31    1979
32    1980
33    1981
34    1982
35    1983
36    1984
37    1985
38    1986
39    1987
Name: date, dtype: int64

In [14]:
#donner un titre au Dashbord
title ='Analyzing US Economic Data and Building a Dashboard \n realized by :\n --KADI koussaila' 
#donner le nom au fichier html qui va être créé 
file_name = "index.html"

In [13]:
#appel à la fonction pour creer le fichier html
make_dashboard(x, gdp_change, unemployment, title, file_name)

BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead
BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead